# JS
!node_modules
node_modules/*
!node_modules/@fhenixprotocol/
!node_modules/@openzeppelin/

package-lock.json
dist

# Secrets
.env

# Foundry
cache
lib

!src/out
src/out/*
!src/out/SimpleStorage.sol/